<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="taskHistories">
      <h2 data-cy="taskHistoriesDetailsHeading"><span>Task Histories</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ taskHistories.id }}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
          <span>{{ taskHistories.comment }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ taskHistories.status }}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
          <span>{{ taskHistories.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated At</span></dt>
        <dd>
          <span>{{ taskHistories.updatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Task</span></dt>
        <dd>
          <div *ngIf="taskHistories.task">
            <a [routerLink]="['/task', taskHistories.task.id, 'view']">{{ taskHistories.task.title }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/task-histories', taskHistories.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
