<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="position">
      <h2 data-cy="positionDetailsHeading"><span>Position</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ position.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ position.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ position.description }}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
          <span>{{ position.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated At</span></dt>
        <dd>
          <span>{{ position.updatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Department</span></dt>
        <dd>
          <div *ngIf="position.department">
            <a [routerLink]="['/department', position.department.id, 'view']">{{ position.department.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/position', position.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
