<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="nst1Sector">
      <h2 data-cy="nst1SectorDetailsHeading"><span>Nst 1 Sector</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ nst1Sector.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ nst1Sector.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ nst1Sector.description }}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
          <span>{{ nst1Sector.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated At</span></dt>
        <dd>
          <span>{{ nst1Sector.updatedAt | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/nst-1-sector', nst1Sector.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
