<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="taskType">
      <h2 data-cy="taskTypeDetailsHeading"><span>Task Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ taskType.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ taskType.title }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ taskType.description }}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
          <span>{{ taskType.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated At</span></dt>
        <dd>
          <span>{{ taskType.updatedAt | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/task-type', taskType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
